/*
*{
  margin: 0;
  padding: 0;
}

.App{
  width: 900px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}


.Cabecera{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-aplicaciones{
  width: 800px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
}

*/